body {
  background-color: #143f6b;
  margin: 0;
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

#header {
  background-color: rgb(231, 243, 237);
  height: 100px;
  border: none;
  justify-content: flex-start;
  align-items: flex-start;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

.nav li {
  vertical-align: middle;
  display: inline-block;
  padding-right: 40px;
  font-size: 30px;
}

.nav-link {
  text-decoration: none;
  vertical-align: middle;
  color: black;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: rgb(13, 38, 150);
  /* border: rgb(179, 179, 179);
  border-width: 20px; */
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li a {
  padding: 8px 14px;
  width: 15px;
  color: white;
}

nav ul li ul li a:hover {
  color: rgb(20, 136, 82);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white.active {
  background-color: #ccc;
}

.white {
  --width: 120px;
  background-color: white;
  border: 1px solid #333;
}

.black.white.active {
  background-color: #333;
}

.black {
  --width: 80px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}
